<div class="card">
  <div class="card-body">
    <form (ngSubmit)="verifyEmail()">
      <div class="form-group">
        <input type="email" class="form-control" [formControl]="emailValidator" placeholder="Enter email">
        <div *ngIf="emailValidator.invalid && (emailValidator.dirty || emailValidator.touched)" class="alert alert-danger">
          <small class="form-text text-muted"><em>*</em> Enter a valid email address.</small>
        </div>
        <h2 *ngIf="showResult">
          {{ emailValidator.value }} 
          <span class="badge badge-success" *ngIf="response.isValid">Valid</span>
          <span class="badge badge-error" *ngIf="!response.isValid">Invalid</span>
        </h2>
      </div>
      <button type="submit" [disabled]="emailValidator.invalid" class="btn btn-primary">Verify</button>
    </form>
  </div>
</div>
<div class="loader loader-default is-active" *ngIf="showLoader"></div>