.panel-success {border-color: #067519;}
.panel-success>.panel-heading, .badge.badge-success {color: #fff;background-color: #067519;border-color: #067519;}
.panel-error {border-color: #ef0606;}
.panel-error>.panel-heading, .badge.badge-error {color: #fff; background-color: #ef0606;border-color: #ef0606;}