<div class="card">
  <div class="card-body">
    <div class="card-title">Railway Stations - India</div>
    <form (ngSubmit)="searchStations()">
      <div class="form-group">
        <input type="email" class="form-control" [formControl]="searchField" placeholder="Enter location">
        <div *ngIf="searchField.invalid && (searchField.dirty || searchField.touched)" class="alert alert-danger">
          <small class="form-text text-muted"><em>*</em> Enter a valid address.</small>
        </div>
        <ul class="list-group" *ngIf="showResult">
          <li class="list-group-item" *ngFor="let item of response">{{ item[1] }} <span class="badge badge-secondary">{{ item[0] }}</span></li>
        </ul>
      </div>
      <button type="submit" [disabled]="searchField.invalid" class="btn btn-primary">Verify</button>
    </form>
    <small class="form-text text-muted"><em>*</em> Search for a list of Indian Railway stations either through Station Name or Station Code.</small>
  </div>
</div>
<div class="loader loader-default is-active" *ngIf="showLoader"></div>