<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">{{ title }}!</h1>
    <hr class="my-4">
    <app-weather-widget></app-weather-widget>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="margin-bottom">
        <app-email-validator></app-email-validator>
      </div>
      <div class="margin-bottom">
        <!-- <app-words></app-words> -->
        <app-search-post-offices></app-search-post-offices>
      </div>
      <div class="margin-bottom">
        <app-search-railways-stations></app-search-railways-stations>
      </div>
    </div>
    <!-- <div class="col-lg-4">
      <app-weather-widget></app-weather-widget>
    </div> -->
  </div>
</div>