<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="jumbotron">
    <h1>Welcome</h1>
    <h2>{{ title }}</h2>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="margin-bottom">
        <app-email-validator></app-email-validator>
      </div>
      <div class="margin-bottom">
        <app-words></app-words>
      </div>
    </div>
    <div class="col-lg-4">
      <app-weather-widget></app-weather-widget>
    </div>
  </div>
</div>

